/*вспомогательные классы*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
 font-family: 'Open Sans' , sans-serif;
}

.cw-btn-flat {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
}

.centered{
  text-align: center;
}
.relative{
  position: relative;
}

.text-green{
  color: #1dc869;
  text-decoration: none;
}

 hr{
  size: 3px;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button-blocks{
  margin-bottom: 20px;
}

.zag{
  font-size: 27px;
  margin-bottom: 15px;
  color: #232323;
  font-weight: normal;
}
/*шапка*/

nav{
  width: 100%;
}

#mainNav{
  background-color: rgba(255,255,255,1);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link{
  color:#000;
  font-family: 'Open Sans' , sans-serif;
}


#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover{
  color:#1dc869;
  font-family: 'Open Sans' , sans-serif;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #1dc869;
  font-family: 'Open Sans' , sans-serif;
}


#mainNav .navbar-toggler{
  font-family: 'Open Sans' , sans-serif;
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  background-color: #1dc869;
}

.fa-bars{
  font-size: 20px;
  color:#000;
}

.fa-facebook-f{
  font-size: 22px;
  color:#898989;
}

.fa-facebook-f:hover{
  font-size: 22px;
  color:#1dc869;
}

.fa-twitter{
  font-size: 22px;
  color:#898989;
}

.fa-twitter:hover{
  font-size: 22px;
  color:#1dc869;
}

.fa-instagram{
  font-size: 22px;
  color:#898989;
}

.fa-instagram:hover{
  font-size: 22px;
  color:#1dc869;
}


#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
}

#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255,255,255,0.8);
  font-family: 'Open Sans' , sans-serif;
  border:1px solid;
  border-color:rgba(192,192,192,0.3);
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}

.navbar-shirnk .navbar-nav .nav-item .nav-link{
  color: #000;
}

#mainNav img{
  width: 200px;
}


@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
}

  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link{
  color:#000000;
  font-family: 'Open Sans' , sans-serif;
}

  #mainNav .navbar-nav .nav-item .nav-link.active{
  color:#1dc869;
  font-family: 'Open Sans' , sans-serif;
  font-weight: 600;
}

  #mainNav .navbar-nav .nav-item .nav-link {
     padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link{
      color:#000;
    }

    #mainNav.navbar-shrink .navbar-brand {
      color:#000;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color:rgba(255,255,255,0.95);
      font-family: 'Open Sans' , sans-serif;

    }


      #mainNav.navbar-shrink img{
        width: 200px;
        height: auto;
    }


  }




.mywrap{
  background: url(../img/header-bg.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative;

}

.mywrap-autoheight{
  background: url(../img/str-1.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
  height: auto;
  padding-bottom: 100px;

  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}

.text-intro{
  margin-top: 120px;
  font-weight: 300;
  font-size:56px;
  color: #000000;
}


.text-lead {
  font-size:18px;
  color: #434343;
}


@media (min-width: 768px) {
  .text-intro{
  margin-top: 220px;
  font-weight: 400;
  font-size:62px;
  color: #000000;
  }
  .text-my-intro {
    font-size: 48px;
    font-weight: 400;
    font-size:56px;
    color: #000000;
  }

  .text-lead {
  font-size:24px;
  color: #434343;
}
.text-my-lead {
  font-size: 30px;
  color: #232323;
}

}
.text-danger{
  padding: 0 !important;
  margin: 0 !important;
}
.mybtn{
  margin-top:25px;
  padding: 10px 60px 10px 60px;
  background-color: #1dc869;
  border: none;

}

.mybtn:hover{
  background-color:#1DA669 !important;
}

.mouse{
  margin-top:10%;
}

.scroll-text{
  color:#6E6E6E;
  text-decoration: none;
}


.mouse{
  margin-top: 40px;
}

.mouse {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouse a {
  outline: none;
  text-decoration: none;
}


/*our mission*/

#mission{
  min-height: 540px;
  width: 100%;
}

.intro{
  margin-top:60px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
}

.lead{
  font-size: 18px;
  color: #424242;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 60px;
}

.card-deck .card {
  min-width: 220px;
}

.my-0{
  font-size: 27px;
  padding-bottom: 30px;
}

.mission-img {
  margin-bottom: 25px;
}


/*solutions*/

#cwsolutions{
  min-height: 850px;

}
/*
@media (min-width: 768px) {
  .sol-blocks-container{
      padding-left: 90px;
  }
}*/


.img-sol{
  padding-top: 2em;
  width: 65px;
}
.img-pic{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  margin: 0 !important;
}

.img-round {
  border-radius: 10px;
}

.text-sol {
  color: #424242;
  line-height: 1.8;
}

.solutions-wrap{
  background: url(../img/solutions/solutions-bg.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
  min-height: 914px;
  width: 100%;
  position: relative;
}


.blocks-sol{
  max-width: 100%;

}

.media-body{
  margin-left:15px;
}


.mod-mb60 {
  margin-bottom: 60px;
}

.mod-bold {
  font-weight: 800;
}

/*solutions end*/


/*modal style*/

.close{
  background-color:  #1dc869;
}

.modal-lg{
max-width: 90% !important;
}

@media (min-width: 1600px) {
 .modal-lg{
max-width: 60% !important;
}

}

.btn-modal{
  margin-bottom: 50px;
}

.modal-text{
  max-width: 400px;
}

.intro-modal{
  font-weight: 400;
  font-size: 46px;

}

.pictures .col-md-6 {
  margin-bottom: 30px;
}
.pictures .col-md-6:nth-child(even) {
  margin-bottom: 0px;
}

/* end modal style*/


/*Digital Services*/

#digitalservices{
  min-height: 830px;
  width: 100%;
}


#contact{
  min-height: 760px;
  width: 100%;
  padding-bottom: 1px;
}

.contact-wrap{
  background: url(../img/form.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
  min-height: 828px;
  width: 100%;
  position: relative;
  z-index: 999;


}

@media (max-width: 768px) {
  .contact-wrap{
    padding-bottom: 20px;
  }
  #contact{
    padding-bottom: 60px;
  }

}

.form-group{
  font-family: 'Open Sans', sans-serif;

}



 #map {
width: 100%;
height: 400px;
}


.contact-email{
  font-size: 25px;
  font-weight: 900;
}


#footer{
  text-align: center;

}



.container-footer{
  width: 95%;
}

.form-row{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;

}

.help-block{
  padding:0;
  margin:0;
}

.sentMessage{
  width: 70%;
  margin-top: 50%;
  font-family: 'Open Sans', sans-serif;

}



input[type="text"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
   }


input[type="email"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
   }

input[type="sub"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
   }

input[type="tel"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
   }

textarea::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
   }

.form-control {
  border: none;
  border-radius: 0;
  resize: none;
}

.footer-row .col-md-4{
  margin-bottom: 10px;
}


.mod-mb20 {
  margin-bottom: 20px;
}

.mod-mb40 {
  margin-bottom: 40px;
}

.mod-pb60 {
  padding-bottom: 60px;
}

.mb-0 {
  margin-bottom: 0;
}


/* */

@media (min-width: 992px) {
  .cards {
    padding-bottom: 140px;
  }
}


@media  (min-width: 768px) {

  .pictures .col-md-6 {
    padding-right: 25px;
  }
  .pictures .col-md-6:nth-child(even) {
    padding-left: 25px;
    padding-right: 0;
    margin-bottom: 0;
  }

.form{
  width: 100%;
  max-width: 750px
}

.form-group {
  margin-bottom: 30px;
}

.form-group.col-md-6 {
  flex: 0 0 48%;
  -webkit-box-flex: 0;
  max-width: 48%;
}


.btn-form{
  margin-bottom: 20px;
  color:#ffffff;
}
.text-intro {
  font-size: 60px;
}

footer {
  padding: 25px 0;
  text-align: center;
  }

.tel-col{
  text-align: left;
}
.phonenumber{
 text-align: center;
 line-height: 40px;

  }

  .phonenumber:hover{

    cursor: pointer;
    text-decoration: underline;
  }

.copyright {

    font-size: 90%;
    line-height: 40px;
    text-transform: none;
   }
.quicklinks {

    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
   }

.social-buttons {
  margin-bottom: 0;
  text-align: right;

   }
.social-buttons li a {

    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;

  }

.footer-row .col-md-4{
  margin-bottom: 0px;
}

}

@media  (max-width: 768px) {

  .tel-col{
    margin-top: 10px;
  }


}


@media (min-width: 576px) {
  .card-deck .card {
    margin-right: 35px;
    margin-left: 35px;
  }
}